<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ee368project.wordhunter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
	<uses-permission
        android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ee368project.wordhunter.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ee368project.wordhunter.SnapWordActivity"
            android:label="@string/title_activity_snap_word" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ee368project.wordhunter.MainActivity" />
        </activity>
        <activity
            android:name="com.ee368project.wordhunter.ScanWordActivity"
            android:label="@string/title_activity_scan_word" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ee368project.wordhunter.MainActivity" />
        </activity>
    </application>

</manifest>